:root {
  --main-bg-color: white;
  --main-fg-color: black;
  --dark-bg-color:  hsl(208, 72%, 20%);
  --dark-fg-color: hsl(198, 71%, 97%);
  --dark-input-bg-color:  hsl(208, 60%, 30%);
}
* {
  margin: 0;
  padding: 0;
}
p {
  font-family: "Raleway", serif;
}
body {
  /* padding-left: 1em; */
  font-family: "Raleway", serif;
}
a {
  color:#1a76ac;
}
a:visited{
  color: #0d405e;
}
a,
a:visited {
  font-family: "Raleway", serif;
}
ol, ul{
  padding-left: 40px;
}
.main-content{
  margin: 0 10px;
}
.page-header {
  background-color: white;
  margin-top: 0;
  padding: 1em 0.5em 1em 0.5em;
}
.content {
  margin-left: 40px;
}

h1,
h2,
h3,
h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 72px;
}

.post {
  margin-bottom: 70px;
  padding-left: 100px;
  padding-right: 100px;
}
.post:after {
  content: "";
  display: table;
  clear: both;
}
.post-header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}
.post-header-titleblock{
  padding: 1rem;
}
.post-body{
  min-width: 320px;
  padding: 1rem;
}
.post-body > * {
  margin: 1rem;
  /* changed for padding in .post-contents 3/2/20 */
}
.post-image-detail {
  width: 55vw;
  max-width: 600px;
  height: auto;
  object-fit: cover;
}
.post-image {
  width: 320px;
  height: auto;
  object-fit: cover;
}
.date {
  color: hsla(205, 11%, 60%, 1);
  font-family: "Raleway", serif;
  font-size: 0.8em;
}
.btn {
  display: inline-block;
  background-color: transparent;
  padding: 10px;
  /* border-width: 1px;
    border-style: solid; */
  /* border-radius: 10px; */
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.nav-btn {
  display: inline-block;
  text-decoration: none;
  color: #262626;
  margin: 10px;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
}
.nav-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  display: flex;
  justify-content: flex-start;
}
.nav-title a {
  font-size: 22;
}
.nav-menu {
  display: flex;
  justify-content: flex-end;
}
.parallax {
  /* The image used */
  background-image: url("/static/blog/images/AdobeStock_94764141.jpeg");
  /* Set a specific height */
  /* min-height: 500px; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-two {
  background-image: url("/static/blog/images/AdobeStock_176876124_small.jpeg");
  /* min-height: 200px; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-h500{
  min-height: 500px;
}
.parallax-h200{
  min-height: 200px;
}
.hero-text {
  padding: 100px;
  padding-top: 100px;
  /* padding-left: 1em;
  padding-right: 1em; */
}
.hero-text h1,
.hero-text h2,
.hero-text p {
  color: white;
  line-height: 1.4em;
}
.hero-text--minor{
  padding: 1rem;
}
.separator {
  height: 125px;
}
.project-section {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project-card {
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 3px 3px 10px 3px hsla(205, 71%, 17%, 0.08);
  color: #262626;
}
.project-title {
  /* margin: 0 auto; */
  padding-bottom: 10px;
}
.project-image {
  width: 250px;
  height: 200px;
  /* margin: 0 auto; */
  padding-bottom: 10px;
  object-fit: cover;
}

.project-description {
  padding: 10px;
}

.project-detail {
  padding: 10px 40px 40px 40px;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 75px 165px auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
    "image title"
    "image short-description"
    "github-link github-link"
    "link link"
    "long-description long-description";
}
.project-image-detail {
  grid-area: image;
}
.project-name {
  grid-area: title;
}
.project-description-short {
  grid-area: short-description;
}
.project-description-long {
  grid-area: long-description;
  margin-top: 10px;
}
.project-github-link {
  grid-area: github-link;
  /* padding-bottom: 10px; */
}
.project-github-link a {
  text-decoration: underline;
}
.project-link {
  grid-area: link;
}
.project-link a {
  text-decoration: underline;
}
.message--div {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.messages {
  /* position: absolute;
    left: 10%; */
}
.success {
  display: flex;
  justify-content: center;
  max-height: 100px;
  transition: opacity 0.5s, max-height .5s;
}
.success > div {
  cursor: pointer;
  padding: 11px 19px 14px 19px;
  background-color: #70fd8c;
  border-radius: 3px;
  margin: 7px;
}
.error {
  display: flex;
  justify-content: center;
  max-height: 100px;
  transition: opacity 0.5s, max-height .5s;
}
.error > div {
  cursor: pointer;
  padding: 11px 19px 14px 19px;
  background-color: #ef9191;
  border-radius: 3px;
  margin: 7px;
}
.fadeout {
  opacity: 0;
  max-height: 0;
}
@media only screen and (max-width: 500px) {
  .project-detail {
    grid-template-rows: 250px 2fr 2fr auto;
    grid-template-areas:
      "image image"
      "title title"
      "short-description short-description"
      "github-link github-link"
      "link link"
      "long-description long-description";
  }
}
.contact {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
  flex-wrap: wrap;
}
.contact h2 {
  text-align: center;
  font-weight: 200;
  font-size: 40px;
  flex: 2 1 auto;
  margin-bottom: 1em;
}
.contactform {
  /* for visibility */
  /* background-color: lightgoldenrodyellow; */
  /* width: 400px; */
  flex: 1 1 400px;
}
.contactform label {
  display: none;
}
.contactform input,
.contactform textarea {
  font-family: "Raleway", serif;
  width: 100%;
  line-height: 2em;
  border: none;
  border-bottom: solid;
  border-bottom-width: 1px;
  margin: 10px 0px;
}
.contactform textarea {
  height: 100px;
}
.contactform h2 {
  font-weight: 200;
}
#id_contact{
  display: none;
}
.form-actions {
  display: flex;
  justify-content: space-around;
}
footer p {
  text-align: center;
  background-color: #f7f7f7;
  padding: 10px;
}
.social {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.social-icons {
  width: 20px;
  padding: 20px;
}
blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 

/* Settings for images in markdown files */
img.md-image {
  margin: 1rem;
}
img.md-image.w100{
    width: 100px;
}
img.md-image.w400{
    width: 400px;
}
img.md-image.right {
  float: right;
  /* width: 500px; */
  margin: 1rem 0 1rem 1rem;
  max-width: 75%;
}
img.md-image.left {
  float: left;
  /* width: 500px; */
  margin: 1rem 1rem 1rem 0;
  max-width: 75%;
}
img.md-image.full-width {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 800px;
  min-width: 50%;
  max-width: 80%;
  clear: both;
}
.markdown:after {
  content: "";
  display: table;
  clear: both;
}

#login td, #login th {
  /* border: 1px solid #999; */
  padding: 0.5rem 0;
}
#login input{
  margin-left: 5px;
  border-radius: 5px;
}
.button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: medium;
  color: #ffffff;
  background-color:#9a4ef1;
  background: linear-gradient(to right, #9a4ef1,#bf4dd8);
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
.button:hover {
  border-color: rgba(255, 255, 255, 1);
}
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg-color);
    color: white;
  }
  .project-card{
    background-color: hsl(208, 65%, 22%);
    color:var(--dark-fg-color);
    box-shadow: 3px 3px 10px 3px hsla(0, 0%, 0%, 0.144);;
  }
  .post-header, .post-body{
    background-color: hsl(208, 65%, 22%);
  }
  a {
    color:var(--dark-fg-color);
  }
  a:visited{
    color: hsl(240, 71%, 90%);
  }
  .btn{
    color: white;
  }
  input {
    background-color: var(--dark-input-bg-color);
    color:var(--dark-fg-color);
  }
  textarea {
    background-color: var(--dark-input-bg-color);
    color:var(--dark-fg-color);
  }
  select {
    background-color: var(--dark-input-bg-color);
    color:var(--dark-fg-color);
  }
  .page-header{
    background-color: var(--dark-bg-color);
    color: white;
  }
  header a:visited{
    color:var(--dark-fg-color);
  }
  .nav-btn{
    color: var(--dark-fg-color)
  }
  footer p{
    background-color: var(--dark-bg-color);
  }
  table{
    background-color: var(--dark-bg-color);
    color: var(--dark-fg-color);
  }
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}