{% extends 'blog/base.html' %}
{% load static %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" href="{% static 'garden/css/garden.css' %}">
<title>Arduino Garden</title>
{% endblock %}

{% block content %}
<section class="main-content">
    <h1>Arduino garden</h1>
    <div class="conditions"><h2>Current Conditions</h2></div>
    
    <div class="conditions">
            {% include "garden/snippet_reading_table.html" with reading=current_conditions.environment %}
            {% include "garden/snippet_reading_table.html" with reading=current_conditions.greenhouse %}
        <div class="environment"></div>
        <div class="greenhouse"></div>
        
    </div>
    <div class="conditions">
        <table class="readingTable">
            <tbody>
                <tr>
                    <td>Ambient light:</td>
                    <td>{{ current_conditions.environment.light }}</td>
                </tr>
                <tr>
                    <td>Reading time:</td>
                    <td>{{ current_conditions.environment.timestamp | date:"SHORT_DATE_FORMAT" }} {{ current_conditions.environment.timestamp|time:"h:i:s a" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="plot"></div>
</section>
{% endblock content %}

{% block footer %}
<script src="{% static 'garden/js/gardenPlot.js' %}"></script>
{% endblock footer %}