{% extends 'blog/base.html' %}
{% load static %}

{% block headspace %}
    <title>Weather</title>
    <link rel="stylesheet" href="{% static 'weather/css/weather.css' %}">
{% endblock headspace %} 
{% block menu_items %}
{% if user.is_authenticated %}
<a href="{% url 'observation_new' %}" class="nav-btn">New Observation</a>
{% endif %}
{% endblock menu_items %}

{% block footer %}
{{ block.super }}
<script src="{% static 'weather/js/weather.js' %}"></script>
<script src="{% static 'weather/js/main.js' %}"></script>
{% endblock footer%}