{% extends 'weather/base.html' %}
{% load static %}
{% load tz %}

{% block content %}

<section class="main-content">
<table>
    <thead>
        <tr>
    <th colspan="2" id="observation-table" data-ztime='{{ observation.observation_date|utc|date:"Y-m-d" }}T{{ observation.observation_date|utc|date:"H:i" }}Z'
        >Observation for {{ observation.observation_date|date:"F j, Y H:i e" }}
        <p id="observation-localtime"></p>
        {% if user.is_authenticated %}
        <a href="{% url 'observation_edit' pk=observation.pk %}">Edit</a>
        {% endif %}
    </tr>
    </th>
</thead>
<tbody>
    <tr><th>Perceived Temp</th><td>{{ observation.perceived_outdoor_temperature | default_if_none:"--" }} &#176;F</td></tr>
    <tr><th>Perceived humidity</th><td>{{ observation.perceived_outdoor_humidity | default_if_none:"--" }}%</td></tr>
    <tr><th>Observed Temp</th><td>{{ observation.observed_outdoor_temperature | default_if_none:"--" }} &#176;F</td></tr>
    <tr><th>Observed Humidity</th><td>{{ observation.observed_outdoor_humidity | default_if_none:"--" }} %</td></tr>
    <tr><th>Observed Pressure hPa</th><td>{{ observation.observed_pressure_millibars | default_if_none:"--" }} hPa</td></tr>
    <tr><th>Surface Wind Dir</th><td>{{ observation.surface_wind_direction | default_if_none:"--" }}&#176;</td></tr>
    <tr><th>Surface Wind Spd</th><td>{{ observation.surface_wind_speed | default_if_none:"--" }}</td></tr>
    <tr><th>Aloft Wind Dir</th><td>{{ observation.aloft_wind_direction | default_if_none:"--" }}&#176;</td></tr>
    <tr><th>Aloft Wind Spd</th><td>{{ observation.aloft_wind_speed | default_if_none:"--" }}</td></tr>
    <tr><th>Cloud Observations</th><td>{{ observation.cloud_observation | default_if_none:"--" }}</td></tr>
    <tr><th>Cloud Coverage</th><td>{{ observation.cloud_coverage | default_if_none:"--" }}</td></tr>
    <tr><th>Precipitation Observation</th><td>{{ observation.precipitation_observation | default_if_none:"--" }}</td></tr>
    <tr><th>Phenomena Observation</th><td>{{ observation.phenomena_observation | default_if_none:"--" }}</td></tr>
    {% if user == observation.observer %}
    <tr><th>Coordinates</th><td>{{ observation.latitude | floatformat:1 | default_if_none:"--" }}, {{ observation.longitude | floatformat:1 | default_if_none:"--" }}</td></tr>
    <tr><th>Location</th><td>{{ observation.city | default_if_none:"--" }}, {{ observation.state | default_if_none:"--" }}</td></tr>
    {% endif %}
    <tr><th>Notes</th><td>{{ observation.notes | default_if_none:"--" }}</td></tr>
    <tr><th>Image</th><td>
        {% if observation.image %}
        <img id="observation_image" 
            {% if observation.source_set %}
                srcset="{{ observation.source_set }}"
            {% endif %}
            src={{  observation.image.url  }} >
        {% endif %}
    </td></tr>
</tbody>


</table>
<div class="navigation_buttons">
    <a href={{ observation.get_previous_by_observation_date.get_absolute_url }}>
            {{ observation.get_previous_by_observation_date.observation_date }}
    </a>
    <a href={{ observation.get_next_by_observation_date.get_absolute_url }}>
            {{ observation.get_next_by_observation_date.observation_date }}
    </a>
</div>
<br>
</section>
{% endblock %}