table.readingTable {
    border-collapse: collapse;
  }
.readingTable td, .readingTable th {
    /* border: 1px solid #999; */
    padding: 0.5rem;
    text-align: left;
    font-size: x-large;
  }


.readingTable > thead > tr > th{
    text-align: center;
}
#tableEnvironment{
    background-color: #fff2ab;
}
#tableGreenhouse{
    background-color: #99da8f;
}
.conditions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px;
    justify-content: center;
}
/* .reading{
    padding: 2rem 2rem;
}
.readingContainer{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    
}
.readingHolder{
    margin: 0 10px;;
} */
.readingTable{
    margin: 10px 10px;    
    background-color: #9382bb;
    /* flex: 0 1 300px; */
}
@media screen and (prefers-color-scheme: dark) {
    #tableEnvironment{
        background-color: hsl(50, 19%, 31%);
    }
    #tableGreenhouse{
        background-color: hsl(112, 23%, 34%);
    }
    .readingTable{
        background-color: hsl(258, 18%, 33%);
    }
    /* .main-svg{
        background: hsl(258, 18%, 33%);
    } */
    .svg-container:first-child{
        background-color: var(--dark-bg-color);
    }
  }