{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <title>&#123&#123website.passable&#125&#125</title> -->
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/code.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway|Work+Sans:200,700" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static 'blog/images/favicon.ico' %}"/>
        {% block headspace %}
        <title>tylerday.net</title>
        {% endblock headspace %} 
    </head>
    <body>
        <header class="page-header">
            <!-- <h1><a href="/">&ltPassable Website&gt</a></h1> -->
            <nav class="nav-top">
                <div class="nav-title">
                    <a href="/" class="nav-btn">Tyler Day</a>
                </div>
                <div class="nav-menu">
                    <a href="/" class="nav-btn">Home</a>
                    <a href="{% url 'weather' %}" class="nav-btn">Weather</a>
                    <a href="{% url 'garden' %}" class="nav-btn">Garden</a>
                    <a href="{% url 'post_list' %}" class="nav-btn">Blog</a>
                    {% block menu_items %}
                    {% endblock menu_items %}
                </div>
            </nav>
        </header>

        {% block content %}
        {% endblock %}
        
    {% block footer %}
    <footer>
        <!-- social networking links -->
        <div class="social">
            <a href="https://github.com/tyday"><img src="{% static 'blog/images/github-brands.svg' %}" alt="click to go to my github repository" class="social-icons"></a>
            <a href="https://linkedin.com/in/ty-day"><img src="{% static 'blog/images/linkedin-in-brands.svg' %}" alt="click to see my profile on linkedin" class="social-icons"></a>
        </div>
        <p>&#169 2018 by Tyler Day</p>
    </footer>
    {% endblock footer %}
    </body>
</html>