{% extends 'blog/base.html' %}
{% block content %}
<div class="parallax">
<div class="hero-text">
    <h1>Ty Day</h1>
    <h2>View my work</h2>
    <p>Welcome to my portfolio. 
        I invite you to explore my site to get a better understanding of my specialties, 
        technique and professional experience. 
        What you’ll find below is a combination of commissioned work, 
        as well as some personal passion projects of my own. 
        Enjoy browsing, and get in touch with any questions.</p>
</div></div>
<!-- Projects section -->
<div class="separator"></div>
<section class="project-section">
    {% include "blog/snippet_projects.html" %}
</section>
<!-- Blog Section -->
<section>
    {% block blog %}
    <h2>Hi {{ user.get_full_name }}</h2>
    {% include "blog/test_template.html" %}
    <h2>Blog goes here</h2>
    <p>This is default index.html text</p>
    {% lorem 3 p %}
    {% endblock blog %}
</section>
{% endblock %}