{% extends 'blog/base.html' %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><div>{{ message }} <sup onclick='this.parentNode.parentNode.classList.add("fadeout")'>&#10006;</sup></div></li>
    {% endfor %}
</ul>
{% endif %}
<div class="parallax parallax-h500">
<div class="hero-text">
    <h1>Ty Day</h1>
    <h2>View my work</h2>
    <p>Welcome to my portfolio. 
        I invite you to explore my site to get a better understanding of my specialties, 
        technique and professional experience. 
        What you’ll find below is a combination of commissioned work, 
        as well as some personal passion projects of my own. 
        Enjoy browsing, and get in touch with any questions.</p>
</div></div>
<div class="separator"></div>
<!-- Projects section -->
<section class="project-section">
    {% include "blog/snippet_projects.html" with projects=projects %}
</section>
<div class="separator"></div>
<div class="parallax-two"></div>
<!-- contact me -->
<section class="contact">
    <!-- <div class="contactform"> -->
    {% include "sendemail/email.html" %}
    <!-- </div> -->
</section>
<!-- <div class="separator"></div> -->
<div class="parallax-two parallax-h200"></div>
<!-- Blog Section -->
<section>
    <div class="separator"></div>
    {% include "blog/snippet_blog.html" with posts=posts %}
</section>
{% endblock %}