{% extends 'blog/base.html' %}
{% load markdown %}

{% block content %}
<div class="post">
    <div class="post-header">
        <!-- // Image -->
        {% if post.photo %}
            <img 
            {% if post.photo.source_set %}
            srcset="{{ post.photo.source_set }}"
            {% endif %}
            src="{{ MEDIA_URL }}{{ post.photo.image_file }}" 
            sizes="55vw"
            loading="lazy"
            alt="{{ post.photo_alt_text }}" class="post-image-detail">
        {% endif %}

        <div class="post-header-titleblock">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'post_edit' pk=post.pk %}" class="btn">edit post</a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        </div>
    </div>
    <div class="post-body">
        {{ post.text| markdown | safe  }}
    </div>
</div>
{% endblock %}