{% extends 'blog/base.html' %}

{% block content %}
    <div class="project-detail">
        {% if project.images %}
        <img 
        {% if project.images.first.source_set %}
            srcset="{{ project.images.first.source_set }}"
            sizes="250px"
        {% endif %}
        src="{{ MEDIA_URL }}{{ project.images.first.image_file }}" alt="{{ project.images.first.alt_text }}" class="project-image project-image-detail">
        {% endif %}
        <!-- <div class="project-contents"> -->
        <h2 class="project-name">{{ project.name }}</h2>
        <p class="project-description-short">{{ project.short_description|linebreaksbr }}</p>
        <p class="project-description-long">{{ project.description|linebreaksbr }}</p>
        <!-- </div> -->
        {% if project.githublink %}
        <div class="project-github-link">
        <h3>Github</h3>
        <a href="{{ project.githublink }}">{{ project.githublink }}</a>
        </div>
        {% else %}
        <div class="project-github-link"></div>
        {% endif %}

        {% if project.weblink.all %}
            <div class="project-link">
            <h3>Links</h3>
            {% for link in project.weblink.all %}
                <a href="{{ link.link }}" class="project-github-link">{{ link.name }}</a></br>
            {% endfor %}
            </div>
        {% else %}
        <div class="project-link"></div>
        {% endif %}
        
    </div>

        {% if project.post.all %}
            {% include "blog/full_blog.html" with posts=project.post.all %}
        {% endif %}

    <!-- </div> -->
    {% endblock %}