{% extends 'blog/base.html' %}

{% block content %}
    <div class="project-detail">
        {% if project.images %}
        <img src="{{ MEDIA_URL }}{{ project.images.first.image_file }}" alt="{{ project.images.first.alt_text }}" class="project-image project-image-detail">
        {% endif %}
        <!-- <div class="project-contents"> -->
        <h2 class="project-name">{{ project.name }}</h2>
        <p class="project-description-short">{{ project.short_description|linebreaksbr }}</p>
        <p class="project-description-long">{{ project.description|linebreaksbr }}</p>
        <!-- </div> -->
        <a href="{{ project.githublink }}" class="project-link">{{ project.githublink }}</a>
    </div>

        {% if project.post.all %}
            {% include "blog/full_blog.html" with posts=project.post.all %}
        {% endif %}

    <!-- </div> -->
    {% endblock %}