{% comment %}
<!-- Used on the front page. Limits post to 20 words -->
{% endcomment %}

{% load markdown %}

{% for post in posts %}
    <div class="post">
        <div class="post-link">
        <!-- <a href="{% url 'post_detail' pk=post.pk %}" class="post-link"> -->
        {% if post.photo %}
            <img 
            {% if post.photo.source_set %}
            srcset="{{ post.photo.source_set }}"
            sizes="320px"
            {% endif %}
            src="{{ MEDIA_URL }}{{ post.photo.image_file }}" 
            alt="{{ post.photo.alt_text }}" class="post-image">
            {% else %}
            <!-- adds generic photo to blog listing -->
            <img src="/static/images/AdobeStock_64083180_med.jpeg" alt="" class="post-image">
            {% endif %}
        <div class="post-contents">
        <div class="date">
            published: {{ post.published_date|date:"n/j/y g:h a" }}
        </div>
        <a href="{% url 'post_detail' pk=post.pk %}" >
            <h2>{{ post.title }}</h2>
        </a>        
        <p>{{ post.text| markdown | safe|truncatewords_html:20 }}</p>
        </div>
        <!-- </a> -->
    </div>
    </div>
{% endfor %}