{% for post in posts %}
    <div class="post">
        {% if post.photo %}
        <img src="/static/images/{{ post.photo }}" alt="" class="post-image">
        {% endif %}
        <a href="{% url 'post_detail' pk=post.pk %}">
        <div class="post-contents">
        <div class="date">
            published: {{ post.published_date|date:"n/j/y g:h a" }}
        </div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr|truncatewords_html:20 }}</p>
        </div>
        </a>
    </div>
{% endfor %}