<!-- Project 1 PWA  -->
{% for project in projects %}
<a href="{% url 'project_detail' pk=project.pk %}" class="project-card">
<!-- <div class="project-card"> -->
    
    <image class="project-image"
    {% if project.images.first.source_set %}
            srcset="{{ project.images.first.source_set }}"
            sizes="250px"
            {% endif %}
        src="{{ MEDIA_URL }}{{ project.images.first.image_file }}"
        alt="{{ project.images.first.alt_text }}"
        >
    <div class="project-title"><h3>{{ project.name }}</h3></div>
    <div class="project-description">
        <p>{{ project.short_description }}</p>
    </div>
<!-- </div> -->
</a>
{% endfor %}