<!-- Project 1 PWA  -->
<div class="project-card">
    
    <image class="project-image"
        src="/static/images/AdobeStock_67486433_Preview.jpeg"
        >
    <div class="project-title"><h3>Progressive Web App</h3></div>
    <div class="project-description">
        <p>This project {% lorem 20 w %}</p>
    </div>
</div>
<!-- Project 2 CWM -->
<div class="project-card">
    
        <image class="project-image"
            src="/static/images/AdobeStock_200477017_Preview.jpeg"
            >
    <div class="project-title"><h3>Small business web-site</h3></div>
    <div class="project-description">
        <p>Financial planner needed new site to act as landing page for business.</p>
    </div>
</div>
<!-- Project 3 Pizza place -->
<div class="project-card">    
    <image class="project-image"
        src="/static/images/AdobeStock_51836484_small.jpeg"
        >
    <div class="project-title"><h3>Django site prototype</h3></div>
    <div class="project-description">
        <p>Used Django to mock-up a pizza website that allowed users to order items online.</p>
    </div>
</div>
<!-- Project 4 Map experiments -->
<div class="project-card">    
    <image class="project-image"
        src="/static/images/as_proj_4.jpeg"
        >
    <div class="project-title"><h3>Map experiments</h3></div>
    <div class="project-description">
        <p>Created mapping apps with and without google-api to explore the best ways to deliver location information to users.</p>
    </div>
</div>