<!-- Project 1 PWA  -->
<div class="project-card">
    <div class="project-title"><h3>Progressive Web App</h3></div>
    <image class="project-image"
        src="/static/images/as_proj_1.jpeg"
        >
    <div class="project-description">
        <p>This project {% lorem 20 w %}</p>
    </div>
</div>
<!-- Project 2 CWM -->
<div class="project-card">
        <div class="project-title"><h3>Site for small business</h3></div>
        <image class="project-image"
            src="/static/images/as_proj_2.jpeg"
            >
        <div class="project-description">
            <p>The client wanted a simple site for their business</p>
        </div>
    </div>